body {
    background-color: --secondary;
    font-family: "Kode Mono", monospace;
    color: --primary;
}

p, h1, h2, h3, h4, h5, h6, li, dt {
    color: --primary;
}

a {
    color: --tertiary;
}

a:link {
    color: --tertiary;
}

a:visited {
    color: --tertiary;
}

a:hover {
    color: --tertiary;
}

button {
    color: --primary;
    background-color: --secondary;
    font-family: "Kode Mono", monospace;
    border-style: 3px solid blue;
}

header.d-header {
    background-color: #1f1f1f;
}

span.first.username.staff.admin::before {
    content: 'Admin';
    background-color: var(--tertiary-very-low);
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
    display: inline-block; /* Ensures the background color wraps around the text */
}

span.first.username::after {
    content: ':';
    color: var(--primary);
}

span.second.full-name {
    display: none;
}

div.topic-avatar, span.second.full-name {
    opacity: 99;
}

td.posters.topic-list-data {
    display: none;
}
td.num.posts-map.posts.topic-list-data::after{
    content: 'posts';
}
/*
TopicItem {
    max-width: 100%;
    border: 3px solid blue;
    border-radius: 5px;
}
*/

th.num.sortable.topic-list-data {
    display: none;
}

td.num.topic-list-data.age.activity::before {
    content: 'Last post: '
}

td.num.topic-list-data.views::after {
    content: ' views'
}


div.wrapper {
    position: relative;
}

div.content {
    background-color: transparent;
    position: absolute;
    top: 80%;
    width: 100%;
    z-index: 100;
}

@if $show_tsParticles_links_animation {
    div.sidebar-wrapper {
        background-color: transparent;
    }
}
